

@import "tailwindcss";

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.menu-container{
    justify-content: space-between;
    align-items: center;
}
.hamburger{
    display: none;
}

 .resp-menu{
    display: none;
    }

@media screen and (max-width:576px) {
   

    .navbar{
 
        gap:250px;
    }
    .hamburger{
        display: block;
        cursor: pointer;
    }
    .hamburger img{
        width: 30px;
        height: auto;
    }

    .nav-menu{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 110px;
        left:0;
        width: 90%;
        height:auto;
        /* min-height: 200px; */
        
        color:#fff;
        background-color: var(--secondery-bg);
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
        z-index: 100;
        padding: 40px;
    }
    .nav-menu li:hover{
        border-bottom: 1px solid #4f4d4d;
    }

    .nav-links{
        flex-direction: column;
        /* justify-content: flex-start; */
    }
    #menu-btn:hover{
        border:none;
    }
    .nav-btn{
        display: flex;
        justify-content: center;

    }
    .nav-btn button:hover{
        box-shadow: 3px 2px 10px #595858;
        /* border:none; */
    }
  
    
    .resp-menu:checked~ .nav-menu{
        display: flex;
    }

    .techWave{
        
        /* height:800px; */
    }
    .banner-text{
        text-align: center;
    }
}