

@import "tailwindcss";

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.resp-menu{
    display: none;
}

@media screen and (max-width:576px) {
    .hamburger{
        display: block;
        cursor: pointer;
    }
    .hamburger img{
        width: 30px;
        height: auto;
    }

    .nav-menu{
        flex-direction: column;
        position: absolute;
        top: 110px;
        left:0;
        width: 90%;
        height:auto;
        /* min-height: 200px; */
        
        color:black;
        background-color: #fff;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
        z-index: 100;
        padding: 40px;
    }
    .nav-menu li:hover{
        border-bottom: 1px solid #000000;
    }
    .nav-btn{
        top:23px;
        position: absolute;
        left:0;
        width:90%;
        height: auto;
        background-color: #fff;
        padding:20px;
        display: flex;
        justify-content: center;

    }
    .nav-btn button:hover{
        box-shadow: 3px 2px 10px #595858;
    }
  
    
    .resp-menu:checked~.nav-menu{
        display: flex;
    }
}