

@import "tailwindcss";

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.menu-container{
    justify-content: space-between;
    align-items: center;
}
.hamburger{
    display: none;
}

 .resp-menu{
    display: none;
    }


    .btn-bg{
       padding:0 auto;
        padding-top: 3.5px;
        height: 56px;
        background-color: white;
       border-radius: 50px ;
        display: flex;
        justify-content: center;
        align-items: center;
    }






@media screen and (max-width:576px) {
    .navbar{
        gap:250px;
    }
    .hamburger{
        display: block;
        cursor: pointer;
    }
    .hamburger img{
        width: 30px;
        height: auto;
    }

    .nav-menu{
        display: none;
        flex-direction: column-reverse;

        position: absolute;
        top: 110px;
        left:0;

        width: 90%;
        height:auto;

        color:var(--primary-text);
        background-color: var(--secondery-bg);
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);

        z-index: 100;
        padding: 40px;
    }

    .nav-menu li:hover{
        border-bottom: 1px solid #4f4d4d;
    }

    .nav-links{
        flex-direction: column;
    }

    #menu-btn:hover{
        border:none;
    }

    .nav-btn{
        display: flex;
        justify-content: center;
    }

    .nav-btn button:hover{
        box-shadow: 3px 2px 10px #595858;
    }
  
    .resp-menu:checked~ .nav-menu{
        display: flex;
    }

    .techWave-bg{
        height: 650px;
    }

    .mic-bg{
        width:200px;
        top:95px;
    }

    .mic-png{
        width: 60px;
        top:145px;
        left:70px;
    }

    .badge-new{
        font-size: .8rem;
        width: 60px;
        text-align: center;
        top:105px;
        left:155px;
    }

    .banner-img-container{
        margin-top: 40px;
    }
   
    .banner-container{
        width:500px;
    }

    .banner-contant h1{
        font-size:2.5rem;
        margin-top:80px;
    }

    .banner-container p{
        font-size: 1rem;
        text-align: center;
    }

    .banner-btn button{  
        margin: 0 auto;
        max-width:200px;
        padding: 12px 20px;
        font-size: 1rem;
         transition: padding .1s ease-out;
    }

    .banner-btn-one:hover{
        padding:13px 20px; 
    }

    .banner-btn-two:hover{
        padding:13px 20px;
    }

    .spotify{
        width: 20px;
        height: 20px;
    }

    .podcast-info p{
        padding:40px ;
        line-height: 30px;      
    }

    .podcast-rulr{
        width: 90%;
        margin:0 auto;
    }

    .podcast-card{
        margin:50px 20px;
        grid-template-columns: repeat(2,1fr);
        column-gap: 10px;
    }

    .features-container{
        width:90%;
        margin:0 auto;
    }

    .features{
       display: grid;
       grid-template-columns: 1fr !important;
       grid-template-rows: auto!important;
       width: 100%;
    }

    .features-box{
      grid-column: span 1/span 1 !important;
      width: 100%;
      box-sizing: border-box;
    }


    .next-ep{
        display: flex;
        flex-direction: column;
        justify-self: center;
    }

    .featured-epi{
        flex-direction: column;
    }

    .host{
        padding:0 20px;
    }
    .host-container{
        flex-direction: column;
    }
    
    .host-img img{
        max-width: 200px;
    }

    .host-info h3{
        font-size: 24px;
        font-weight: 700;
        text-align: center;
    }

    .host-info p{
        text-align: center;
    }

    .host-links{
        margin: 0 auto;
    }
    
    footer{
        width: 100%;
        background-position:cover;
    }
    
    footer h1,span{
        font-size: 48px;
    }
     
    .footer-links{
        max-width: 255px;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap:21px 0px;
    }
    .footer-sec{
        padding:20px 0px;
    }
    
    
}